
@tailwind base;
@tailwind components;
@tailwind utilities;



* {
  font-family: "Fira Sans", sans-serif;
}

*::-webkit-scrollbar {
    display: none;
  }

.default::-webkit-scrollbar {
    display: none;
  }

.link {
  text-decoration: none;
  color: #4A4E69;
}

.link.nuxt-link-exact-active {
 color: orange;
}

button {
  padding: 0px 3px;
}


@layer base {
  .default {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: #9A8C98;
    color: white;
    min-height: 100vh;
    height: auto;
    width: 100wh;
  }




  .auth {
    color: #219EBC;
    background: #FAEDCD;
    height: 100vh;
    width: 100wh;
  }
}

